@use "../../scss/colors" as *;

.blogSection {
	padding: 10rem 3rem;
	// padding-top: 0;
}

.posts {
	display: grid;
	grid-template-columns: 1fr;
	gap: 30px;
}

@media (min-width: 992px) {
	.blogSection {
		padding: 13rem 5rem;
	}
	.posts {
		grid-template-columns: 1fr 1fr 1fr;
		flex-direction: row;
		gap: 50px;
	}
}
