@use "../../scss/colors" as *;

.paymentPage {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 351px);
	flex-direction: column;
	padding: 2rem;
	text-align: center;
}

.icon {
	font-size: 3.6rem;
}

.title {
	font-weight: 700;
	margin: 2.4rem 0 1.2rem 0;
}

.desc {
	max-width: 500px;
}

@media (min-width: 992px) {
	.paymentPage {
		min-height: calc(100vh - 321px);
	}
	.title {
		margin: 2rem 0 1rem 0;
	}
	.icon {
		font-size: 4.8rem;
	}
}
