@use "../../scss/colors" as *;
@use "../../scss/mixins" as *;

.nav {
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color: $pureWhite;
	z-index: 100;
	border-bottom: 1px solid $sectionBorder;
}

.top,
.bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top {
	padding: 0.5rem 1.5rem;
}

.bottom {
	border-top: 1px solid $sectionBorder;

	padding: 0 1.5rem;
}

.left {
	display: flex;
	align-items: center;
}

.right {
	display: flex;
	align-items: center;
	gap: 10px;
}

.link {
	@include link;
	font-size: 1.3rem;
}

.linkMail {
	text-transform: none;
}

.logo {
	height: 24px;
	object-fit: cover;
	transition: opacity 0.3s;
     max-width: 100%;

	&:hover {
		opacity: 0.8;
	}
}

.cartIconBox {
	position: relative;
	margin-right: 7.5rem;
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.8;
	}
}

.cartIcon {
	font-size: 2.7rem;
	color: $mainText;
}

.pricingBtn {
	margin-left: 2.6rem !important;
}

.itemsNumber {
	position: absolute;
	font-size: 1.3rem;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: $mainText;
	color: $pureWhite;
	font-weight: 700;
	right: 5px;
	top: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navDesktop {
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}

.fa-phone {
	margin-right: 0.5rem;
}

@media (min-width: 992px) {
	.link {
		font-weight: 400;
	}
	.navDesktop {
		display: flex;
	}
	.cartIconBox {
		margin-right: 0.7rem;
	}
	.cartIcon {
		font-size: 2.9rem;
	}
	.itemsNumber {
		font-size: 1.5rem;
		width: 22px;
		height: 22px;
	}
	.logo {
		height: 26px;
	}
	.navMobile {
		display: none;
	}
}
