@use "./colors" as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}

.mainBtn {
	color: $mainText;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;
	background-color: $contrast;
	border-radius: 8px;
	padding: 1.4rem 3rem;
	font-size: 1.6rem;
	border: 1px solid $contrast;
	transition: background-color 0.3s, color 0.3s;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;

	&:hover {
		background-color: transparent;
		color: $contrast;
	}

	&--outlined {
		background-color: transparent;
		color: $contrast;

		&:hover {
			background-color: $contrast;
			color: $mainText;
		}
	}

	&:first-of-type {
		margin-bottom: 1.6rem;
	}

	&--section {
		text-transform: none;
	}
	&--small {
		font-size: 1.3rem;
		text-transform: none;
		color: $mainText;
		background: none;
		border: 1px solid $mainText;
		padding: 1.2rem 2.8rem;
		margin: 0;

		&:hover {
			background-color: $mainText;
			color: $pureWhite;
		}

		&:first-of-type {
			margin-bottom: 0;
		}
	}
	&--alternative {
		font-size: 1.3rem;
		text-transform: none;
		color: $pureWhite;
		background: $mainText;
		border: 1px solid $mainText;
		padding: 1.2rem 2.8rem;
		margin: 0;

		&:hover {
			background-color: $pureWhite;
			color: $mainText;
		}

		&:first-of-type {
			margin-bottom: 0;
		}
	}
	&--shop {
		text-transform: none;
		color: $pureWhite;
		background-color: $mainText;
		border: 1px solid $mainText;
		margin: 0;

		&:first-of-type {
			margin-bottom: 0;
		}

		&:hover {
			background-color: $pureWhite;
			color: $mainText;
		}
	}

	&--selected {
		background-color: $mainText;
		color: $pureWhite;

		&:first-of-type {
			margin-bottom: 0;
		}

		&:hover {
			background-color: $pureWhite;
			color: $mainText;
		}
	}

	&--pricing {
		border: 1px solid $pureWhite;
		color: $pureWhite;
		margin-top: 0.8rem;

		&:first-of-type {
			margin-bottom: 0;
		}

		&:hover {
			background-color: $pureWhite;
			color: $mainText;
		}
	}
}

.white-block {
	position: absolute;
	height: 40px;
	width: 50%;
	background-color: $pureWhite;
	z-index: 20;

	&-left {
		bottom: 0;
		right: -50px;
		transform: skew(-45deg);
	}

	&-right {
		top: 0;
		left: -50px;
		transform: skew(-45deg);
	}
}

.link-hover {
	position: relative;
	transition: color 0.3s;

	&::after,
	&::before {
		position: absolute;
		content: "";
		bottom: 2px;
		width: 0;
		border-bottom: 2px solid $mainText;
		transition: width 0.3s;
	}

	&::after {
		right: 50%;
	}

	&::before {
		left: 50%;
	}

	&:hover {
		color: $mainText;
	}

	&:hover::after,
	&:hover::before {
		width: 50%;
	}
}

.sectionHeading {
	margin-bottom: 6.5rem;
	font-size: 3.6rem;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;

	&--singleProduct {
		text-align: left;
		margin-bottom: 3.5rem;
	}
}

.normalText {
	font-size: 1.6rem;
	line-height: 140%;
}

.smallText {
	font-size: 1.3rem;
	line-height: 170%;
}

.heroShadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -10;
}

.heroText {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	padding: 0 2rem;
	text-align: center;
	z-index: 5;

	&--section {
		padding: 14rem 2rem;
	}
}

.sectionPadding {
	padding: 10rem 3rem;

	&--withoutTop {
		padding-top: 0;
	}
}

@media (min-width: 992px) {
	.white-block {
		width: 40%;
		height: 60px;
	}
	.sectionHeading {
		font-size: 4.8rem;
		margin-bottom: 7.5rem;

		&--singleProduct {
			margin-bottom: 5rem;
		}
	}
	.sectionPadding {
		padding: 13rem 5rem;

		&--withoutTop {
			padding-top: 0;
		}
	}
	.mainBtn {
		font-size: 1.8rem;
		padding: 1.5rem 3.4rem;
		letter-spacing: 0.5px;

		&:first-child {
			margin-bottom: 0;
		}

		&--small {
			font-size: 1.5rem;
			padding: 1.4rem 3rem;
		}
		&--pricing {
			margin-top: 1rem;
		}
	}

	.normalText {
		font-size: 1.8rem;
	}

	.smallText {
		font-size: 1.5rem;
		line-height: 150%;
	}

	.heroText {
		&--section {
			padding: 22rem 3rem;
		}
	}

	.heroHeading {
		margin-bottom: 4.8rem;
		font-size: 4.8rem;
		font-weight: 700;
		letter-spacing: 1px;
		text-align: center;
		text-transform: capitalize;
		color: $pureWhite;
	}
}
